frontend http
    bind *:8080
    mode http
    timeout client 10s
    use_backend all
backend all
    mode http
    server s1 nodeyoutube1:1111
    server s2 nodeyoutube2:2222
    server s3 nodeyoutube3:3333
    server s4 nodeyoutube4:4444

